/* global */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.863);
}

.header__logo {
  width: 170px;
  height: 50px;
}

.nav__list {
  display: flex;
  margin-left: 50px;
}

.nav__list-item {
  padding: 10px 20px;
  font-size: 1.3rem;
  white-space: nowrap;
  color: rgb(51, 51, 51);
}

.nav__list-item--gray {
  border-bottom: 5px solid gray;
}

.nav__list-item--blue {
  border-bottom: 5px solid rgb(51, 51, 99);
}

.nav__list-item--green {
  border-bottom: 5px solid green;
}

.nav__list-item--special {
  border-bottom: 5px solid rgb(17, 51, 17);
}

.header__mobile-button {
  display: none;
}

@media (max-width: 1280px) {
  .header {
    max-width: 900px;
  }
  .header__mobile-button {
    display: inherit;
    margin-left: auto;
    font-size: 1.5rem;
    padding: 8px 16px;
    background: gray;
    color: white;
  }

  .nav {
    display: none;
  }
}

/* main */

/* nav */
.main {
  margin-top: 60px;
}

.main-nav {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  justify-content: space-between;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  padding: 20px 10px;
  margin-right: 5px;
  font-size: 1.2rem;
  color: white;
}

.main-nav__item--yellow {
  background: #f7a53b;
}

.main-nav__item--green {
  background: #16a085;
}

.main-nav__item--blue {
  background: #22313f;
}

.main-nav__button {
  background: #fa6e6e;
  color: white;
  padding: 8px 16px;
  font-size: 1.2rem;
  min-height: 60px;
  border: none;
}

@media (max-width: 1280px) {
  .main-nav {
    max-width: 900px;
  }
  .main-nav__list {
    display: none;
  }
}

/* album */
.album__list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 8px;
  grid-template-areas:
    "first-small second-small third third"
    "fourth fourth third third"
    "fourth fourth fifth-small sixth-small"
    "seventh seventh eighth-small ninth-small"
    "seventh seventh tenth-small eleventh-small"
    "twelfth-small thirteenth-small sixteenth sixteenth"
    "seventeenth seventeenth sixteenth sixteenth"
    "seventeenth seventeenth fourteenth-small fifteenth-small";
}

.album__list-item:nth-child(1) {
  grid-area: first-small;
  background-image: url(./images/album-1.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(2) {
  grid-area: second-small;
  background-image: url(./images/album-2.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(3) {
  grid-area: third;
  background-image: url(./images/album-3.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(4) {
  grid-area: fourth;
  background-image: url(./images/album-4.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(5) {
  grid-area: fifth-small;
  background-image: url(./images/album-5.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(6) {
  grid-area: sixth-small;
  background-image: url(./images/album-6.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(7) {
  grid-area: seventh;
  background-image: url(./images/album-7.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(8) {
  grid-area: eighth-small;
  background-image: url(./images/album-8.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(9) {
  grid-area: ninth-small;
  background-image: url(./images/album-9.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(10) {
  grid-area: tenth-small;
  background-image: url(./images/album-10.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(11) {
  grid-area: eleventh-small;
  background-image: url(./images/album-11.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(12) {
  grid-area: twelfth-small;
  background-image: url(./images/album-12.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(13) {
  grid-area: thirteenth-small;
  background-image: url(./images/album-13.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(14) {
  grid-area: fourteenth-small;
  background-image: url(./images/album-14.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(15) {
  grid-area: fifteenth-small;
  background-image: url(./images/album-15.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(16) {
  grid-area: sixteenth;
  background-image: url(./images/album-16.jpg);
  background-size: cover;
  background-position: center;
}

.album__list-item:nth-child(17) {
  grid-area: seventeenth;
  background-image: url(./images/album-17.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1280px) {
  .album__list {
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "first-small second-small fifth-small"
      "third third sixth-small"
      "third third eighth-small"
      "fourth fourth ninth-small"
      "fourth fourth  tenth-small"
      "seventh seventh eleventh-small"
      "seventh seventh  twelfth-small"
      "sixteenth sixteenth thirteenth-small"
      "sixteenth sixteenth fourteenth-small"
      "seventeenth seventeenth fifteenth-small"
      "seventeenth seventeenth fifteenth-small";
  }
}

@media (max-width: 980px) {
  .main-nav,
  .header {
    max-width: 650px;
  }

  .album__list {
    max-width: 640px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "first-small second-small "
      "third third"
      "third third"
      "fifth-small sixth-small"
      "fourth fourth"
      "fourth fourth"
      "ninth-small eighth-small"
      "seventh seventh  "
      "seventh seventh "
      "sixteenth sixteenth"
      "sixteenth sixteenth"
      "tenth-small eleventh-small"
      "twelfth-small thirteenth-small"
      "seventeenth seventeenth"
      "seventeenth seventeenth"
      "fourteenth-small fifteenth-small";
  }
}

@media (max-width: 730px) {
  .main-nav,
  .header {
    max-width: 450px;
  }
  .album__list {
    max-width: 450px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "first-small" "second-small" "third" "fourth" "fifth-small" "sixth-small" "seventh"
      "eighth-small" "ninth-small" "tenth-small" "eleventh-small" "twelfth-small" "thirteenth-small" "seventeenth"
      "fourteenth-small" "fifteenth-small" "sixteenth";
  }
}

/* mobile */

@media (max-width: 450px) {
  .main-nav,
  .header,
  .album__list {
    max-width: 300px;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  background: black;
  color: white;
}

.footer__nav-list {
  display: flex;
}

.footer__nav-item {
  padding: 10px;
  white-space: nowrap;
}

@media (max-width: 980px) {
  .footer__nav {
    display: none;
  }
}

/* mobile */

@media (max-width: 480px) {
  .footer__paragraph {
    white-space: nowrap;
    font-size: 0.7rem;
  }
}
